body {
    background-color: #00296B;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #80C1FF;
}

.welcome {
    color: #80C1FF;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-left: 20%;
}

.disclaimer {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-left: 20%;
    color: #FFD500;
    font-size: 30px;
}

.intro {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 1% 0 0 20%;
}

.wrapper .sidebar {
    background-color: #FDC500;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .avatar {
    margin-bottom: 50px;
    text-align: center;
}

.wrapper .sidebar .avatar img {
    display: grid;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 30px;
}

.wrapper .sidebar .avatar .myName {
    font-family: 'Oswald', sans-serif;
    color: #003366;
    font-size: 45px;
    margin: 15px 0 1px;
}

.wrapper .sidebar .avatar .myRole {
    font-family: 'Quicksand', sans-serif;
    color: #004F99;
    font-size: 30px;
}

div.wrapper {

    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;

}

.sidebar a,
.projects {
    display: block;
    color: #00296B;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active):before,
.projects:hover {
    background-color: #005CB3;
    color: white;
}

.subNavContent {
    display: none;
    background-color: #FB8500;
    padding-left: 8px;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.myBody {
    display: grid;
}